<div class="myside-bar">
    <div class="px-2 pt-2 mb-3">
        <input type="text" class="form-control" placeholder="Search . . .">
    </div>
    <ul class="sidebar">
        <li class="sidebar-item "><a class="sidebar-link active" href="#">ssssss</a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#">ssssss</a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#">ssssss</a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#">ssssss</a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#">ssssss</a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#">ssssss</a></li>
    </ul>
</div>
